[Unit]
Description=Build PKGBUILD with makepkg
AssertFileNotEmpty=/startdir/PKGBUILD
Wants=swap.target
After=swap.target
OnSuccess=copy-artifacts@startdir.service

[Service]
Type=simple
User=builder
Group=builder

Environment=BUILDDIR=/build
Environment=PKGDEST=/pkgdest
Environment=SRCPKGDEST=/srcpkgdest
Environment=SRCDEST=/srcdest
Environment=LOGDEST=/logdest
Environment=PACKAGER="arenekosreal <17194552+arenekosreal@users.noreply.github.com>"
WorkingDirectory=/startdir

ExecStart=/usr/bin/makepkg --cleanbuild --skippgpcheck --log

NoNewPrivileges=yes
OOMScoreAdjust=-500
ProtectSystem=strict
ProtectHome=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
ReadWritePaths=/build
ReadWritePaths=/pkgdest
ReadWritePaths=/srcpkgdest
ReadWritePaths=/srcdest
ReadWritePaths=/logdest
PrivateTmp=yes
PrivateUsers=yes
LockPersonality=yes
